{% extends "index.html" %} {% block start %}

<div class="container my-5">
  <h1>This is The Recipe App</h1>
  <hr />
  <hr />
  <p class="text-justify">
    Embark on a delightful culinary journey into the heart of Desh cuisine with
    this authentic recipe that promises to tantalize your taste buds and delight
    your family's palate. By following these professional cooking instructions,
    you'll expertly craft a dish that seamlessly blends tradition with flavor,
    ensuring a memorable dining experience for all. From carefully selecting the
    freshest ingredients to masterfully executing each step with precision,
    you'll create a symphony of flavors that evoke the rich culinary heritage of
    Desh. As you garnish your masterpiece and serve it alongside complementary
    dishes, remember that cooking is not just about nourishment; it's about
    creating cherished moments and spreading joy. So, with a smile on your face
    and warmth in your heart, savor the satisfaction of serving up happiness
    with every bite.
  </p>
</div>

{% endblock %}
