{% extends "index.html" %} 
{% block start %}

<div class="container mt-5 col-6" >
  <form method="post" accept="/home" class="col-6 mx-auto card p-3 shadow-lg" enctype = "multipart/form-data">
    <h1>Add Receipe</h1>
    {% csrf_token %}
    <div class="mb-3">
      <label for="receipe_name" class="form-label">Receipe_name</label>
      <input type="text" class="form-control" name="receipe_name" />
    </div>
    <div class="mb-3">
      <label for="receipe_description" class="form-label"
        >Receipe_description</label
      >
      <input type="text" class="form-control" name="receipe_description" />
    </div>
    <div class="mb-3">
      <label for="receipe_image" class="form-label">Receipe_image</label>
      <input type="file" class="form-control" name="receipe_image" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
